<div class="container">
  
  <p>商品詳細</p>
  
    <div class="row">
      <div class="col-sm-5 ooffset-md-1">
        <%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x150" %>
      </div>
      
      <div class="cal-sm-6">
        
      </div>
    </div>

</div>




