<div class="container">
  <p>注文情報確認</p>
  <div class="row">
    
    
  </div>
  <div class="row">
    <span><strong>支払方法</strong>　<%= @order.payment_method %></span>
    
  </div>
  <div class="row">
    <span><strong>お届け先</strong>　<%= @order.address %></span>
    
  </div>
</div>
